black >= 23.7.0
flake8 >= 6.0.0 
flake8-annotations >= 3.0.1 
flake8-bugbear >= 23.7.10
flake8-pyproject >= 1.2.3
gunicorn >= 20.0.0
isort >=5.12.0
pytest >= 7.4.0
pytest-cov >= 4.1.0
pytest-xdist >= 3.3.1
pytest-retry >= 1.6.2
coverage[toml] >= 7.2.0
