{% from 'bootstrap5/utils.html' import render_messages %}


{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  <head>
    {%- block head %}
    <title>{% block title %}{{ title|default }}{% endblock title %}</title>
      <meta charset="utf8"
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
      {{ load_bootswatch_theme() }}    
      {%- block head_scripts %}
      {%- endblock head_scripts %}

      {%- block styles %}
      {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
      <div class="min-vh-100">
      {% block navbar %}
      {% include "journal/_nav.html" %}
      {%- endblock navbar -%}

       <main class="container">
       {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
       {% block content -%}
       {%- endblock content %}
       </main>

       <footer class="text-center w-100 position-relative bottom-0">
        {% block footer %}
            <small> &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://github.com/csfreak">CSfreak</a>
            </small>
        {% endblock %}
       </footer>
    </div>
    {{ bootstrap.load_js() }}
    {%- endblock body %}
  </body>
</html>
{% endblock doc -%}