# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
dist/


# Unit test / coverage reports
.coverage
.coverage.lcov

# Sphinx documentation
docs/_build/

# Environments
.venv
.env

# IDE Configs
.vscode


