# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
dist/
build/
**.egg-info

# Unit test / coverage reports
.coverage
coverage.lcov
coverage.xml
.pytest.xml

# Sphinx documentation
docs/_build/

# Environments
.venv
.env

# IDE Configs
.vscode

# Template Symlinks
/templates

# Temp Files
*.swp
