attrs [dev] >= 23.1.0 
autopep8 [dev] >= 2.0.2
flake8 [dev] >= 6.0.0 
flake8-annotations [dev] >= 3.0.1 
flake8-pyproject [dev] >= 1.2.3
mccabe [dev] >= 0.7.0 
pyflakes [dev] >= 3.0.0
coverage [dev] >= 7.2.0
python-dotenv [dev]

flask-unittest [test] >= 0.1.3
mock [test] >= 5.1.0

gunicorn [deploy] >= 20.1.0